.results.hidden {
    display: none;
}

.results > .row {
    display: flex;
    font-family: var(--font-input);
    font-size: var(--font-small);
}

.cell {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.empty {
    height: 28px;
}

.cell:nth-child(1) {
    width: 280px;
}

.cell:nth-child(2) {
    width: 150px;
    margin-left: 14px;
}

.number {
    width: 52px;
    line-height: 31px;
    font-size: var(--font-large);
    text-align: right;
}
