.hint {
    position: absolute;
    color: var(--hint);
    font-size: var(--font-status);
}

.hint.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear 0.1s, visibility 0.3s linear 0.1s;
}

.hint.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.entry {
    margin: 0 4px 0 4px;
    float: left;
}

.clickable {
    cursor: pointer;
}

.key {
    padding: 0 3px 0 3px;
    border-radius: 4px;
    color: var(--hint-key);
    background-color: var(--hint-key-background);
}
