@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    animation: fade 0.5s ease-in;
}

:root {
    --font-main: 'Roboto', sans-serif;
    --font-input: 'Roboto Mono', monospace;

    --main-width: 796px;

    --background: rgba(170, 170, 170, 1);

    --box-background: rgba(255, 255, 255, 1);
    --box-border: rgba(100, 100, 100, 1);

    --text-normal: rgba(40, 40, 40, 1);
    --text-normal-shadow: rgba(255, 255, 255, 1);
    --text-selected: rgba(255, 255, 255, 1);
    --text-selected-shadow: rgba(0, 0, 0, 1);

    --link-selected: rgba(230, 230, 230, 1);

    --input-correct: rgba(33, 150, 243, 1);
    --input-error: rgba(255, 0, 0, 1);

    --cursor: rgba(220, 220, 220, 1);

    --prompt: rgba(120, 120, 120, 1);
    --prompt-key: rgba(170, 170, 170, 1);
    --prompt-key-background: rgba(140, 140, 140, 1);

    --icon: rgba(100, 100, 100, 1);
}

#main {
    height: 100%;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-main);
    user-select: none;
}

.top {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    width: var(--main-width);
    margin-bottom: 10px;
}

.footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    color: var(--text-normal);
    text-shadow: var(--text-normal-shadow) 0px 0px 4px;
}

.appName {
    color: var(--text-normal);
    text-shadow: var(--text-normal-shadow) 0px 0px 6px;
    flex-grow: 1;
    font-size: 24px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-grow: 2;
    font-size: 14px;
}

.button {
    color: var(--text-normal);
    text-shadow: var(--text-normal-shadow) 0px 0px 4px;
    margin: 0 4px 0 4px;
    cursor: pointer;
    transition: color 0.2s, text-shadow 0.2s;
}

.button.enabled {
    color: var(--text-selected);
    text-shadow: var(--text-selected-shadow) 0px 0px 4px;
    transition: color 0.2s, text-shadow 0.2s;
}

.input {
    position: fixed;
    top: -1000px;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    display: block;
}

.textArea, .results {
    position: relative;
    background-color: var(--box-background);
    border: 1px solid var(--box-border);
    border-radius: 20px;
    padding: 10px 16px 10px 16px;
    width: var(--main-width);
    height: 206px;
    font-family: var(--font-input);
}

.textArea {
    font-size: 28px;
}

.results {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
}

.results.hidden {
    display: none;
}

.resultRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 8px 0 8px;
}

.resultRow .number {
    width: 44px;
    text-align: right;
    font-size: 28px;
}

.row {
    position: absolute;
}

.row.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s linear 0.3s, visibility 0.4s linear 0.3s;
}

.row.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s linear, visibility 0.4s linear;
}

.word {
    float: left;
}

.char {
    color: var(--text-normal);
    float: left;
}

.cursor {
    background-color: rgb(220, 220, 220);
}

.correct {
    color: var(--input-correct);
}

.error {
    color: var(--input-error);
}

.status {
    margin-top: 20px;
    font-size: 14px;
}

.prompt {
    color: var(--prompt);
    cursor: pointer;
}

.prompt.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s linear 0.3s, visibility 0.4s linear 0.3s;
}

.prompt.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s linear, visibility 0.4s linear;
}

.key {
    border-radius: 4px;
    padding: 0 3px 0 3px;
    color: var(--prompt-key);
    background-color: var(--prompt-key-background);
}

.link {
    margin: 0 14px 0 14px;
    font-size: 15px;
}

.icon {
    color: var(--icon);
}

a {
    font-size: 14px;
    margin-left: 6px;
}

a:link, a:visited, a:hover, a:active {
    color: var(--text-normal);
    text-shadow: var(--text-normal-shadow) 0px 0px 4px;
    text-decoration: none;
    transition: color 0.2s, text-shadow 0.2s;
}

a:hover, a:active {
    color: var(--link-selected);
    text-shadow: var(--text-selected-shadow) 0px 0px 4px;
    text-decoration: none;
    transition: color 0.2s, text-shadow 0.2s;
}
